@model Venue
@{
}
 
<div>
    <p>@Model.Name</p>
</div>

<div>
    <p>@Model.Address.City, @Model.Address.State, @Model.Address.Country, @Model.Address.PostalCode</p>
</div>

<div>
    <p>@Model.Contact.Name, @Model.Contact.Email</p>
</div>

